<div style="height:400px; background-image:url(<%= asset_path 'back2.png' %>); background-repeat:no-repeat">
	<h1>ハニーポットが仕掛けられています！</h1>
	<p>インジェクションのターゲットを選んでください</p>
	<%= button_to 'A. プラント',{ :controller => 'locations'\
, :action => 'index'\
, :proximityUUID => @proximityUUID\
, :UUID => @UUID }\
, :method => :post %>
	<%= button_to 'B. エンフォースメント', { :controller => 'locations', :action => 'index' }, :method => :get %>
	<%= button_to 'C. セキュリティ', { :controller => 'locations', :action => 'index' }, :method => :get %>
</div>