<div style="height:400px; background-image:url(<%= asset_path 'back3.png' %>); background-repeat:no-repeat">
    <h1>失敗！</h1>
    <p>サイバーノードをテイクオーバーに失敗しました!!</p>
    <p class="alert alert-danger">今後のこのサイバーノードにアクセスできません＞＜</p>
    <blockquote>
        <p>
            Sponsored
        </p>
        <ul>
            <li><a href="https://www.paypal.com/jp/webapps/mpp/home">paypal.com - ペイパル 日本公式サイト</a></li>
            <li><a href="https://www.braintreepayments.com/">Braintree: Accept Payments Online | Mobile Payments</a>
            </li>
            <li><a href="https://www.heroku.com/home">Heroku | Cloud Application Platform</a></li>
            <li><a href="http://dotcolon.net/font/eunomia/">OpenTypeフォント「Eunomia」</a></li>
        </ul>
    </blockquote>
</div>
