<footer class="footer">
  <small>
	  copyright alright reserved. coronet-internet.com.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'mailto:kyoji-exterior@goo.jp' %></li>
    </ul>
  </nav>
</footer>
