<header class="navbar navbar-default navbar-static-top" role="banner">

	<div class="container">
	  <div class="navbar-header">
      <%= link_to image_tag('logo.png'), '/', :id=> 'logo', :class=> 'navbar-brand'%>
	  </div>
    </div>
</header>
